In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
lst=[1,2,3,4,5,6]
lst1=["a","b"]

for i1 in lst:
    print(i1)
    for i2 in lst1:
        print(i2)

1
a
b
2
a
b
3
a
b
4
a
b
5
a
b
6
a
b

In [2]:
names=["Hemanth","Manikanta","sai ganesh","ROHIT","Siddu","Sai karishna","Tarun","Nivas","Lahari","jaisri"]
for x in names:
    print("My Friend name is:",x)

My Friend name is: Hemanth
My Friend name is: Manikanta
My Friend name is: sai ganesh
My Friend name is: ROHIT
My Friend name is: Siddu
My Friend name is: Sai karishna
My Friend name is: Tarun
My Friend name is: Nivas
My Friend name is: Lahari
My Friend name is: jaisri

In [4]:
family=["satya narayana","Durga rani","Niharika","parvati","Ram krishna","murali","vara lakshmi","papayama","subaramanyam","Nivas"]
for f in family:
    print(f)

satya narayana
Durga rani
Niharika
parvati
Ram krishna
murali
vara lakshmi
papayama
subaramanyam
Nivas

In [6]:
veg=["panner butter masala","Panner tikka","Mashroom 65","Panner manchurian","chilly panner","butter naan","veg biryaniya","Panner biryani","Babycorn 65","crispy corn"]
for v in veg:
    print(v)

panner butter masala
Panner tikka
Mashroom 65
Panner manchurian
chilly panner
butter naan
veg biryaniya
Panner biryani
Babycorn 65
crispy corn

In [7]:
nonveg=("chicken butter masala","chiken tikka","chicken 65","chicken manchurian","chilly mutton","paya","Mutton biryaniya","fish biryani","Apollo fish")
for n in nonveg:
    print(n)

chicken butter masala
chiken tikka
chicken 65
chicken manchurian
chilly mutton
paya
Mutton biryaniya
fish biryani
Apollo fish

In [8]:
colours={"red","blue","green","yellow","orange","white","black","pink","violte","purple"}
for c in colours:
    print(c)

black
violte
yellow
red
pink
purple
green
blue
orange
white

In [9]:
months=["jan","Feb","march","April","may","june","july","aug","sep","oct","nov","dec"]
for m in months:
    print(m)

jan
Feb
march
April
may
june
july
aug
sep
oct
nov
dec

In [12]:
12. print 9th table (1 to 90)
13. print(12th table (1 to 120)

SyntaxError: invalid decimal literal (2403583098.py, line 1)

In [13]:
num=9

for j in range(91):
    print(num*j)

0
9
18
27
36
45
54
63
72
81
90
99
108
117
126
135
144
153
162
171
180
189
198
207
216
225
234
243
252
261
270
279
288
297
306
315
324
333
342
351
360
369
378
387
396
405
414
423
432
441
450
459
468
477
486
495
504
513
522
531
540
549
558
567
576
585
594
603
612
621
630
639
648
657
666
675
684
693
702
711
720
729
738
747
756
765
774
783
792
801
810

In [14]:
num1=12

for j1 in range(1,120,1):
    print(num1*j1)

12
24
36
48
60
72
84
96
108
120
132
144
156
168
180
192
204
216
228
240
252
264
276
288
300
312
324
336
348
360
372
384
396
408
420
432
444
456
468
480
492
504
516
528
540
552
564
576
588
600
612
624
636
648
660
672
684
696
708
720
732
744
756
768
780
792
804
816
828
840
852
864
876
888
900
912
924
936
948
960
972
984
996
1008
1020
1032
1044
1056
1068
1080
1092
1104
1116
1128
1140
1152
1164
1176
1188
1200
1212
1224
1236
1248
1260
1272
1284
1296
1308
1320
1332
1344
1356
1368
1380
1392
1404
1416
1428